@model FormTest.Application.DTOs.LoginUserDto

@{
    ViewData["Title"] = "Login";
}

<h2>ورود</h2>

@if (ViewBag.ErrorMessage != null)
{
    <div class="text-danger">@ViewBag.ErrorMessage</div>
}

<form asp-action="Login" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div>
        <label>ایمیل:</label>
        <input asp-for="Email" type="email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div>
        <label>رمز عبور:</label>
        <input asp-for="Password" type="password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <br />
    <button type="submit" class="btn btn-primary">ورود</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
