@model FormTest.Core.Application.DTOs.RegisterUserDto
@{
    ViewData["Title"] = "Register";
}

<h2>ثبت‌نام</h2>

<form asp-action="Register" method="post">
    <div asp-validation-summary="All" class="text-danger mb-3"></div>

    <div>
        <label>نام:</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div>
        <label>ایمیل:</label>
        <input asp-for="Email" type="email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div>
        <label>رمز عبور:</label>
        <input asp-for="Password" type="password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>


    <br />
    <button type="submit" class="btn btn-primary">ثبت‌نام</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}