@{
    ViewData["Title"] = "ثبت موفق";
}

<div class="alert alert-success">
    <h4>درخواست ثبت‌نام شما با موفقیت ارسال شد.</h4>
    <p>پس از تأیید مدیر می‌توانید وارد شوید.</p>
    <a href="/Account/Login" class="btn btn-success">ورود</a>
</div>
